<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="Payroll_Context" connectionString="metadata=res://*/PayrollDataModel.csdl|res://*/PayrollDataModel.ssdl|res://*/PayrollDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PRABHAT;Initial Catalog=payroll_KLDC;Persist Security Info=True;User ID=payrolluser;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>