/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #E7CAAB;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
    /* margin-top:-16px; */
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 95%;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #5E0C13;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#AC4531;
    width:100%;
    /* height:38px; */
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #9E3D25;
    border: 1px #BB5D74 solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #E7CAAB;
    color: #38160F;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}


/* --------------------------- */

.buttonAsp
{    
    background-color:#666666;
    color:#DDE4EC;
    width:130px;
    height:23px;
    cursor:pointer;
}

.newbutton
{
    
    /*
    height:23px;
    background-color:transparent;
    border:none;
    */    
}

.button
{    
    background-color:#666666;
    color:#DDE4EC;
    width:150px;
    height:23px;
    cursor:pointer;
}

.buttons:hover
{
    background:#3A4F63;
}

.hiddenItem
{
    display:none;
}

#formdiv
{
    width:100%;      
    /* background-color:#F7FAEF; */
}

#maingrid
{    
    /* background-color:#F7FAEF; */
    overflow:auto;
}

#formtable
{   
    background-color:#E9F2FB;
    
}

.longText
{
    width:230px;
}

.ShortDate
{
    width:100px;
}

.ShortTime
{    
    width:100px;
}

.ErrorLabel
{
    color:Red;
    width:850px;
    text-align:center;
    border:0;
    background-color:transparent;
}

.donotshow
{
    display:none;
}

.valSummary
{
    color:Red;
    /* border:1px solid; */
}

.grid1
{
    background-color:#F4F4EC;
    min-width:150px;
}

#MainContent_gvMain
{
    min-width:150px;
}

#MainContent_gvMain
{
    /* border:2px solid; */
}

#MainContent_gvMain input[type="Image"]
{
    background-image:url(../images/edit14.png);
    background-repeat:no-repeat;
}

#MainContent_gvMain input[type="Image"]:hover
{
   background-position: bottom;
}

#MainContent_gvMain tr:hover
{
    background-color:white;
    color:Maroon;
    /* cursor:pointer; */
}

/* Only for Grids that has view button */
#MainContent_GridView2
{
}

#MainContent_GridView2 input[type="image"]
{
    background-image:url(../Images/view3.png);
    background-repeat:no-repeat;
}

#MainContent_GridView2 input[type="image"]:hover
{
   background-position: bottom;
}

.dropdown
{
    width:200px;
}

.ui-datepicker
{
    font-size:8pt !important;
}

.ui-datepicker-div .ui-icon ui-icon-circle-triangle-w
{
    background-color:Aqua;
}